@{
    Layout = null;
}

@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBodyBTs",
        Url = Url.Action("GetBusinessTripDataBTM")

    };
}


@using (Ajax.BeginForm(ajaxOpts))
{
    @* @Html.DropDownList("selectedDepartment", (SelectList)ViewBag.DepartmentsList, "All Departments", new { onchange = "$(this.form).submit();" })*@
    <input id="seachInputBT" type="search" name="searchString" value="@ViewBag.SearchString" placeholder="Search... " />  
}
<br />
<br />

<div id="tableBodyBTs">
    @Html.Action("GetBusinessTripDataBTM", new { searchString = ViewBag.SearchString })
</div>




