@model int

<script type="text/javascript">
    $(document).ready(function () {
        $("#tabsBDM").tabs({ selected: '@Model' });
        $("li#BDMLink a").css({
            'color': '#E1701D'
        })
    });
</script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<div id="tabsBDM">
    <ul>
        <li><a href="#tabs-greetings">Greetings</a></li>
    </ul>
    <div id="tabs-6">@{Html.RenderAction("Index", "Greeting");}</div> 
</div>
