@using AjourBT.Domain.Infrastructure
@using System.Web.Configuration

@model int
@{
    string selectedDepartment = ViewBag.SelectedDepartment;
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/AjourBTScript/CalculateWeek.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#tabsVU").tabs({ selected: '@Model' });
        $("li#VULink a").css({
            'color': '#E1701D'
        })
    });
</script>

<div id="tabsVU" style="height: 100%">
    <ul>
        @*<li><a href="#tabs-17">Business Trips Data</a></li>*@
        <li><a href="#tabs-18">BTs by Dates/Location</a></li>
        <li><a href="#tabs-19">BTs by Quarters</a></li>
        <li><a href="#tabs-20">BTs in preparation process</a></li>
        <li><a href="#tabs-21">Private Trips</a></li>

        @{
            if (WebConfigurationManager.AppSettings["IncludeAbsence"] == "true")
            {
                <li><a href="#tabs-22">Calendar</a></li>
            }
        }

        <li><a href="#tabs-23">BTs by Units</a></li>
        <li><a href="#tabs-29">Visas and Permits</a></li>
        <li><a href="#tabs-30">Days From BT</a></li>


    </ul>

    @* <div id="tabs-17">@{Html.RenderAction("GetListOfYearsVU", "BusinessTripViewer", new { selectedYear = DateTime.Now.ToLocalTimeAzure().Year });}</div>*@
    <div id="tabs-18">@{Html.RenderAction("GetBusinessTripByDatesVU", "BusinessTripViewer", new { selectedYear = DateTime.Now.ToLocalTimeAzure().Year });}</div>
    <div id="tabs-19">@{Html.RenderAction("GetListOfYearsForQuarterVU", "BusinessTripViewer", new { selectedKey = DateTime.Now.ToLocalTimeAzure().Year });}</div>
    <div id="tabs-20">@{Html.RenderAction("GetPrepBusinessTripDataVU", "BusinessTripViewer");}</div>
    <div id="tabs-21">@{Html.RenderAction("GetPrivateTripVU", "PrivateTrip");}</div>
    @{
        if (WebConfigurationManager.AppSettings["IncludeAbsence"] == "true")
        {
            <div id="tabs-22" style="height: 91%">@{Html.RenderAction("GetCalendar", "Calendar", new { selectedDepartment = @ViewBag.SelectedDepartment });}</div>
        }
    }

    <div id="tabs-23">@{Html.RenderAction("GetBusinessTripByUnitsVU", "BusinessTripViewer", new { selectedYear = DateTime.Now.ToLocalTimeAzure().Year });}</div>
    <div id="tabs-29">@{Html.RenderAction("GetVisaVU", "Visa");}</div>
    <div id="tabs-30">@{Html.RenderAction("GetJourney", "Journey");}</div>

</div>



<script type="text/javascript">
    $(document).ready(function () {
        $('[href=#tabs-18]').click(function () {
            var vuTable = $('#exampleBtsViewByDates').DataTable({
                "sScrollY": (0.6 * $(window).height()),
                "bPaginate": false,
                "bFilter": true,
                "bScrollCollapse": true,
                "bDestroy": true,
                "aaSorting": [],
                "aoColumns": [
                         null,
                    { "sType": "html" },
                         null,
                    { "sType": "date" },
                    { "sType": "date" },
                    { "sType": "date" },
                    { "sType": "date" }
                ],
            });

            vuTable.columnFilter({
                sPlaceHolder: "head:before",
                "aoColumns": [
                        null,
                        null,
                        { "type": "select" },
                        { "type": "date-range" },
                        { "type": "date-range" },
                        { "type": "date-range" },
                        { "type": "date-range" },
                ]
            });

            $.datepicker.regional[""].dateFormat = 'yy-mm-dd';
            $.datepicker.setDefaults($.datepicker.regional[""]);
        });

        $('[href=#tabs-19]').click(function () {
            $('#BTsInQuarterForViewerexample').DataTable({
                "sScrollY": (0.6 * $(window).height()),
                "bDestroy": true,
                "aaSorting": [],
                "aoColumns": [
                    null,
                    null,
                    { "sType": "numeric" },
                    { "sType": "numeric" },
                    { "sType": "numeric" },
                    { "sType": "numeric" },
                ],
                "bPaginate": false,
                "bScrollCollapse": true
            });
        });

        $('[href=#tabs-20]').click(function () {
            $('#prepBTDataVU').dataTable({
                "sScrollY": (0.6 * $(window).height()),
                "bPaginate": false,
                "bDestroy": true,
                "bScrollCollapse": true,
                "aaSorting": [],
                "aoColumns": [
                    null,
                    null,
                    { "sType": "numeric" },
                    { "sType": "numeric" },
                    { "sType": "numeric" },
                    { "sType": "numeric" }

                ]
            });
        });

        $('[href=#tabs-21]').click(function () {
            $('#privateTripsBTMexample').DataTable({
                "sScrollY": (0.6 * $(window).height()),
                "bDestroy": true,
                "aaSorting": [],
                "aoColumns": [
                    null,
                    null,
                    { "sType": "numeral" },
                    { "sType": "datetime" }
                ],
                "bPaginate": false,
                "bFilter": false,
                "bScrollCollapse": true
            });
        });

        $(document).ready(function () {
            $('[href=#tabs-29]').click(function () {
                $('#visasViewVU').DataTable({
                    "sScrollY": (0.6 * $(window).height()),
                    "bPaginate": false,
                    "bDestroy": true,
                    "bFilter": false,
                    "bScrollCollapse": true,
                    "aaSorting": [],
                    "aoColumns": [
                        null,
                        null,
                        { "bSortable": false },
                        null,
                        { "sType": "EUdate" },
                        { "sType": "EUdate" },
                        null,
                        { "sType": "date" },
                        { "sType": "visaNum" },
                        { "sType": "date" },
                        { "sType": "shortdate" },
                        { "sType": "string" },
                        { "bSortable": false }
                    ]
                });
            });
        })

        $('[href=#tabs-23]').click(function () {
            var vuTable = $('#exampleBtsViewByUnits').DataTable({
                "sScrollY": (0.5 * $(window).height()),
                "bPaginate": false,
                "bFilter": true,
                "bScrollCollapse": true,
                "bDestroy": true,
                "aaSorting": [[0, 'asc']],
                "aoColumns": [
                     { "sType": "numeral" },
                     null,
                     null,
                     null,
                     { "sType": "datefrm" },
                     { "sType": "datefrm" },
                     null,
                     null,
                     null,
                     null,
                ],
            });

            vuTable.columnFilter({
                sPlaceHolder: "head:before",
                "aoColumns": [
                    null,
                    null,
                    null,
                    { "type": "select" },
                    { "type": "date-range" },
                    { "type": "date-range" },
                     null,
                     null,
                     null,
                     null,
                ]
            });

            $.datepicker.regional[""].dateFormat = 'yy-mm-dd';
            $.datepicker.setDefaults($.datepicker.regional[""]);

        });
    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('[href=#tabs-22]').click(function () {
            $.ajax({
                cache: false,
                url: "/Calendar/GetCalendar",
                type: "GET",
                data: { selectedDepartment: "" },
                success: function (data) {
                    $("#tabs-22").html($(data));
                }
            });
        })
    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('[href=#tabs-30]').click(function () {
            $.ajax({
                cache: false,
                url: "/Journey/GetJourney",
                type: "GET",
                data: { searchString: "" },
                success: function (data) {
                    $("#tabs-30").html($(data));
                }
            });
        })
    })
</script>