@model string

@{
    Layout = null;
}

@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBodyPrivateTripVU",
        Url = Url.Action("GetPrivateTripDataVU")
    };
}


@using (Ajax.BeginForm(ajaxOpts))
{
    <div>
        <input id="seachInput" type="search" name="searchString" placeholder="Search... " />
    </div>
}


<div id="tableBodyPrivateTripVU">
    @Html.Action("GetPrivateTripDataVU", new { searchString = Model })
</div>
