@{
    Layout = null;
}


@{
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tableBodyVisa",
        Url = Url.Action("GetVisaDataBTM")

    };
}


@using (Ajax.BeginForm(ajaxOpts))
{
    <div>
        <input id ="seachInput" type="search" name="searchString" value="@ViewBag.SearchString" placeholder="Search... "/>
        @*<input type="submit" value="Search" id="some_input" />
        <input type="hidden" id="searchsubmit" />*@ 
    </div>
}

@*<form method="get" action="@Url.Action("GetVisa")" data-otf-ajax="true" data-otf-target="#tableBodyVisa"/>

    <input type="search" name="searchString" />
    <input type="submit" value="Search" />

</form>*@
<br />
<br />
    <div id="tableBodyVisa">
        @Html.Action("GetVisaDataBTM", new { searchString = ViewBag.SearchString })
    </div>

